.none{
    display: none;
}

.border{
    border: 3px solid red;
}

.border-1{
    border: 1px solid rgba(43, 236, 130, 0.529);
    border-radius: 12px;
}

main > section {
    border: 1px solid rgba(43, 236, 130, 0.529);
    border-radius: 12px;
}

.highlight {
    color: #0F6B3A;
    position: relative;
}